* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  font-family: Fira Sans;
  background-color: #f1f1f3;
}
nav {
  border: 1px solid black;
  height: 6.16%;
  max-height: 100px;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;
}
nav h2 {
  font-size: 32px;
  font-weight: 700;
}
.btn {
  margin: 28px 0;
  padding: 15px 30px;
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  color: #006a50;
  border: 1px solid #006a50;
  background-color: #f5f5f5;
}
.banner {
  margin: 100px 160px 0px 160px;
  display: flex;
  align-items: center;

  width: 78%;
  max-width: 1280px;
  height: 560px;

  background-color: #c6e4d6;
  background-image: url("/hero.png");
  background-repeat: no-repeat;
  background-position: right center;
  /* important */

  padding: 100px;
  border-radius: 20px;
}

/* TEXT AREA */
.banner .content {
  max-width: 622px;
  height: 246px;
  display: flex;
  flex-direction: column; /* stack text + button */
  gap: 20px;
}

/* Optional */
.banner h1 {
  font-size: clamp(32px, 4vw, 52px);
}

.banner p {
  opacity: 0.8;
}
